.MedicineList {
  padding: 0;
  padding-bottom: 5px;
  max-width: 100%;
  min-height: calc(1.1rem + 10px + 5px);
  overflow-x: auto;
  list-style: none;
  border-bottom: 1px solid var(--secondary);
  margin: 0;
}