$primary-color: hsl(198, 100%, 43%);
$secondary-color: hsl(198, 10%, 66%);
$red: hsl(352, 51%, 52%);

.MainWrapper {
    position: relative;
    height: 80vh;
    padding: 20px 30px;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    background-color: hsl(0, 0%, 97%);
    box-shadow: 0 0 30px 0 #00000020;
    overflow-y: auto;
}

@media screen and (min-width: 769px) {
    .MainWrapper {
        height: 70vh;
        padding: 2% 40px;
    }
}