.MainWrapper {
  height: 70vh;
  position: relative;
  padding: 2% 40px;
  border: 1px solid #a0acb1;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 0 30px 0 #00000020;
  overflow-y: auto;
}

#medicines-img {
  width: 300px;
  opacity: 0.6;
}

#result {
  position: relative;
  text-align: justify;
  display: none;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
#result .warning {
  position: absolute;
  bottom: 0;
  background-color: rgba(195, 70, 87, 0.1);
  color: #c34657;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

#no-result-img-wrapper {
  text-align: center;
  opacity: 0.7;
  padding-top: 30px;
}