.ResultWrapper {
  position: relative;
  text-align: justify;
  min-height: 50vh;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.NoResultImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  height: 50vh;
}
.NoResultImageWrapper img {
  max-width: 100%;
  opacity: 0.8;
}