.Wrapper {
  display: flex;
  justify-content: center;
  height: 10%;
  padding-top: max(2%, 10px);
  margin-bottom: max(3%, 20px);
}
.Wrapper .Logo {
  width: 189px;
  height: 38px;
}
.Wrapper .Hexagons {
  display: none;
}

@media screen and (min-width: 768px) {
  .Wrapper {
    justify-content: space-between;
  }
  .Wrapper .Hexagons {
    display: block;
    width: 200px;
  }
}