.Wrapper {
    display: flex;
    justify-content: center;
    height: 10%;
    padding-top: max(2%, 10px);
    margin-bottom: max(3%, 20px);

    .Logo {
        width: 189px;
        height: 38px;
    }

    .Hexagons {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .Wrapper {
        justify-content: space-between;

        .Hexagons {
            display: block;
            width: 200px;
        }
    }
}