.Wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 1rem;
    position: relative;

    .Input {
        width: 100%;
        padding: 7px 20px;
        border: 1px solid hsl(198, 5%, 70%);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: border-color 0.3s;
        font-size: 16px;

        &::placeholder {
            color: hsl(0, 0, 80%);
            opacity: 1;
            transition: color 1s;
        }

        &:focus {
            outline: none;
            border-color: var(--primary);

            &::placeholder {
                color: hsl(0, 0, 40%);
            }
        }
    }

    .Button {
        padding: 5px 20px;
        border: 1px solid var(--primary);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        background-color: var(--primary);
        color: #fff;

        font-size: 1rem;

        cursor: pointer;

        transition: 0.5s;

        &:hover {
            filter: brightness(1.1);
        }
    }

    &.Invalid {
        .Input {
            border-color: var(--danger);
        }

        &::after {
            content: var(--error-message);
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 0.8rem;
            color: var(--danger);
        }
    }
}